<section class="dashboard main-container">
  <div class="table-navbar">
    <ul class="icon-list">
      <!-- <li (click)="onRemoveRecord()"><mat-icon fontIcon="remove"></mat-icon></li>
      <li (click)="onUpdateRecord()"><mat-icon fontIcon="create"></mat-icon></li> -->
      <li><mat-icon fontIcon="clear"></mat-icon></li>
      <!-- <li><mat-icon fontIcon="save"></mat-icon></li> -->
      <li (click)="onAddRecord()"><mat-icon fontIcon="add"></mat-icon></li>
    </ul>
  </div>
  <app-table (onUpdateRec)="onUpdateRecord($event)" (onDeleteRec)="onRemoveRecord($event)" [dataTable]="expensesList"></app-table>
</section>
