.toolbar nav {
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
}

.toolbar li {
  display: inline-block;
  padding: 0 1rem;
  list-style: none;
}

.toolbar li a{
  color: black;
  text-decoration: none;
}

.toolbar li a:hover{
  cursor: pointer;
  text-decoration: underline;
  color: var(--main-primary-color);
}

.toolbar ul li .active {
  text-decoration: underline;
}
