<table class="styled-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Luogo</th>
            <th>Tipo</th>
            <th>Costo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @for (expense of expenses(); track expense.id) {
          <tr [class.active-row]="$index % 2 !== 0">
            <td>{{ expense.name }}</td>
            <td>{{ expense.where }}</td>
            <td>{{ expense.type }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.when }}</td>
          </tr>
        }
    </tbody>
</table>
