<table class="styled-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Luogo</th>
            <th>Tipo</th>
            <th>Costo</th>
            <th>Data</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @for (expense of expenses(); track expense.id) {
          <!-- [class.active-row]="$index % 2 !== 0" -->
          <tr >
            <td>{{ expense.name }}</td>
            <td>{{ expense.where }}</td>
            <td>{{ expense.typeId }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.date }}</td>
            <td>
              <ul class="icon-list">
                <li (click)="onRemoveRecord(expense.id)"><mat-icon fontIcon="delete_forever"></mat-icon></li>
                <li (click)="onUpdateRecord(expense.id)"><mat-icon fontIcon="create"></mat-icon></li>
              </ul>
            </td>
          </tr>
        }
    </tbody>
</table>
