/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-color: #f5f5f5;
  --main-primary-text-color: #fff;
  --main-primary-color: #ff3d00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-50 {
  margin-top: 50px;
}

.main-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--main-bg-color); max-width: 1280px; margin: 0 auto; }
